[submodule "web-tutorials"]
	path = web-tutorials
	url = https://github.com/Career-Karma-Tutorials/web-tutorials
[submodule "web"]
	path = web
	url = https://github.com/Career-Karma-Tutorials/web-tutorials
